body {
    background-color: white;
}

h1 {
    color: darkolivegreen;
}

p.ex {
    color: rgb(0,0,255);
}

.intro {
    color: darkolivegreen;
}

.classroom {
    color: darkolivegreen;
}

.classroom {
    color: darkolivegreen;
}